*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: f1;
    src: url(../fonts/teddy-bear.ttf);
}

body{
    background-color: #456;
}
#container{
    width: 350px;
    border: 2px solid black;
    margin: 20px auto;
    display: grid;
    border-radius: 7px;
    grid-template-columns: 150px 1fr;
}
#container div{
    border: 2px solid #123 ;
    overflow: hidden;
}
#container div img{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 35px #fff;
    cursor: pointer;
    transition: 0,7s;
}
#container div img:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
#container div{
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: f1;
    font-weight: 900;
}